body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
     
}

 .container{
    line-height: 30px;
    max-width: 990px;
    margin: 0 auto;
    display: flex;
    gap: 35px;
}

.image{
     width: 100%;
}

 .cta-block{
    padding: 30px;
    background-color: rgb(17, 155, 201);
    width: 100%;
    color: white;
    font-size: 25px;
    
}

h4{
    font-weight: 300;
    font-size: 14px;
}

button{
    width: 150px;
    height: 35px;
    color: rgb(17, 155, 235);
}



   

 
 
